:root {
  --primary: rgb(5, 228, 5);
  --secondary: #1d1d1d;
  --background: #ccc;
  --invert-secondary: #fff;
  --text-primary: #fff;
  --text-secondary: #ccc;
  --strong: #000;
  --text: #000;
  --link: rgb(3, 97, 126);
  --saturate: 50;
  --hue: 86deg;
<<<<<<< HEAD
  --dark-sature: 0;
=======
>>>>>>> 594ca26 ([Refator] change todo checkbox icon and delete icon)
}
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background-color: var(--background);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem 0;
  background-color: var(--primary);
}
header h1 {
  color: var(--text-primary);
}
header span {
  color: var(--link);
}
header span .github-icon{
<<<<<<< HEAD
<<<<<<< HEAD
    height: 1.6rem;
=======
    height: 3vw;
>>>>>>> 9643912 ([Style] change github icon style)
=======
    height: 1.6rem;
>>>>>>> 594ca26 ([Refator] change todo checkbox icon and delete icon)
    mix-blend-mode: multiply;
    transform: translate(0, 6px);
}
.create-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1rem;
  padding: 1rem 0;
  background-color: var(--secondary);
}
.create-container h3 {
  color: var(--text-secondary);
}
.create-container .create-todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
.create-container .create-todo label {
  color: var(--text-secondary);
}
.create-container .create-todo #todo-message {
  border-radius: 5px;
  padding: 0.3rem;
}
.create-container .create-todo #todo-message:focus {
  border: 0.2rem solid var(--primary);
  outline: none;
}
.create-container .create-todo #create-btn {
  border: 0px;
  outline: none;
  border-radius: 5px;
  padding: 0.3rem;
  color: var(--text-primary);
  background-color: var(--primary);
}
.create-container #theme-btn {
<<<<<<< HEAD
  top: -.1rem;
  width: 1.5rem;
  right: -.1rem;
=======
  top: 1rem;
  width: 1.5rem;
  right: 1rem;
>>>>>>> 594ca26 ([Refator] change todo checkbox icon and delete icon)
  padding: 5px;
<<<<<<< HEAD
  border-radius: 0% 0% 0% 50%;
  position: absolute;
  filter: brightness(0) saturate(100%) invert(70%) sepia(97%) saturate(var(--dark-sature)) hue-rotate(0deg) brightness(124%) contrast(102%) drop-shadow(0 0 3px yellow);
=======
  border-radius: 50%;
  position: absolute;
  filter: brightness(0) saturate(100%) invert(70%) sepia(97%) saturate(5) hue-rotate(10deg) brightness(124%) contrast(102%);
>>>>>>> 4522753 ([Style] change theme icon style)
  box-shadow: 0 0 5px #fff;
}

.todos-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* margin: 0 5vw; */
  padding: 0 5vw;
  align-items: center;
}
.todos-container h4 {
  color: var(--strong);
  margin: 2vh;
  font-size: 1.2rem;
  align-self: flex-start;
}
.todos-container .todo-list {
  background-color: var(--invert-secondary);
  margin-bottom: 5rem;
  width: 100%;
  height: 65%;
  border-radius: 10px;
  overflow-y: scroll;
  position: relative;
  box-shadow: 2px 5px 10px #00000057;
}
.todos-container .todo-list::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../icon/createTodo.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: .4;
}
.todos-container .todo-list .todo {
  border-bottom: 1px solid #0000009a;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--invert-secondary);
}
.todos-container .todo-list .todo:last-child{
  box-shadow: 0 5px 10px #0000002d;
}
.todos-container .todo-list .todo #complete {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--background);
  background-image: none;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 1px solid #0000004b;
  cursor: pointer;
  position: relative;
}

.todos-container .todo-list .todo #complete:checked {
  border: none;
  background: url(../icon/checked.png);
  background-repeat: round;
  filter: brightness(0) saturate(100%) invert(70%) sepia(97%) saturate(var(--saturate)) hue-rotate(var(--hue))     brightness(124%) contrast(102%);
}
.todos-container .todo-list .todo .message {
  color: var(--text);
  margin: 0 1rem;
  width: 80%;
  margin-bottom: 3px;
}
.todos-container .todo-list .todo #delete {
  font-size: 1.3rem;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50%;
  background-image: url(../icon/remove.png);
  background-repeat: round;
  background-color: transparent;
}
.todos-container .todo-list .todo .date {
  color: var(--text);
  position: absolute;
  font-size: 0.6rem;
  bottom: 0.2rem;
  left: 35%;
  opacity: 0.7;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track:active {
  background: var(--secondary);
  background-clip: content-box;
  border: 4px solid transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}
.dark-theme {
  --primary: rgb(165, 5, 228);
  --secondary: #1d1d1d;
  --background: #4e4e4e;
  --invert-secondary: #353333;
  --text-primary: #fff;
  --text-secondary: #ddd;
  --strong: #fff;
  --text: #ddd;
  --link: rgb(199, 192, 99);
  --saturate: 100;
  --hue: -84deg;
<<<<<<< HEAD
  --dark-sature: 3;
=======

>>>>>>> 594ca26 ([Refator] change todo checkbox icon and delete icon)
}
